<!--div class="list-group">
    <a class="list-group-item active" href="#application"><span class="glyphicon glyphicon-cog"></span>Application</a>
</div-->

<div>
    <a class="list-group-item active" href="#endpoint"><span class="glyphicon glyphicon-th-large"></span>Endpoints</a>
    <a class="list-group-item" href="#route"><span class="glyphicon glyphicon-play"></span>Routes</a>
    <a class="list-group-item" href="#connector"><span class="glyphicon glyphicon-comment"></span>Connector</a>
</div>