<h2><span class="glyphicon glyphicon-map-marker"></span>Applications</h2>


<button class="btn btn-primary ol-btn-create" ng-click="create()">
    <span class="glyphicon glyphicon-plus"></span>New Application
</button>

<p ng-show="endpoints.length > 0">{{endpoints.length}} application{{endpoints.length > 1 ? "s" : ""}}</p>
<p ng-show="endpoints.length == 0">No application</p>

<!--table class="table table-striped table-hover environment-list" ng-show="enpoints.length > 0"-->
<table class="table table-striped table-hover environment-list">
    <thead>
        <tr>
            <th></th>
            <!--  th>id</th-->
            <th>Application</th>
            <th>Consume Queue</th>
            <th>count()</th>
            <th>Produce Queue</th>
            <th>count()</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    	<tr ng-repeat="endpoint in endpoints">
            <td width="30px">
                <span
        			class="glyphicon map-marker"
        			ng-class="{'glyphicon-map-marker':true}"
                    ng-click="select(endpoint.id)"
        		></span>
            </td>
            <!-- td>{{endpoint.id}}</td-->
            <td>{{endpoint.application}}</td>
            <td>{{endpoint.consumeQueue}}</td>
            <td>{{endpoint.cqSize}}</td>
            <td>{{endpoint.produceQueue}}</td>
            <td>{{endpoint.pqSize}}</td>
            <td>
                <button class="btn btn-primary" ng-click="modify(environment)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </td>
    	</tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="12">
                <ol-pagination></ol-pagination>
            </td>
        </tr>
    </tfoot>
</table>