<div class="modal-header environment-modal bg-new">
	<h3 class="modal-title text-new">
        <span ng-show="environment.enabled" class="glyphicon glyphicon-ok text-success"></span>
        <span class="glyphicon glyphicon-comment"></span>{{new ? 'Post message' : connector.name}}
    </h3>
</div>

<div class="modal-body">
    <form class="form-horizontal" role="form" name="connectorPostMessage">
        <fieldset>
            <legend>Connector</legend>
            <field class="form-group required">
                <label class="col-sm-3 control-label">Application</label>
                <div class="col-sm-9">
                    <input
                        type="text"
                        maxlength="30"
                        class="form-control"
                        name="application"
                        placeholder="50 characters max"
                        required
                        ng-model="connector.endPoint"
                        ng-disabled="true"
                    >
                </div>
            </field>
            <field class="form-group required">
                <label class="col-sm-3 control-label">Message</label>
                <div class="col-sm-9">
                    <input
                        type="text"
                        maxlength="30"
                        class="form-control"
                        name="message"
                        placeholder="1000 characters max"
                        required
                        ng-model="post.message"
                    >
                </div>
            </field>
            
            <!-- li ng-repeat="endpoint in $scope.endpoints">
      			<label>Name: <input ng-model="enpoint.application"></label>
		    </li>
		    <field class="form-group required" ng-class="{'has-error': !endpointCreate.url.$valid}">
                <label class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                    <input
                        type="text"
                        maxlength="20"
                        class="form-control"
                        name="status"
                        placeholder="20 characters max"
                        required
                        ng-model="connector.name"
                    >
                </div>
            </field>
            <field class="form-group required">
                <label class="col-sm-3 control-label">Application</label>
                <div class="col-sm-9">
                    <select class="form-control" name="source_ep"
                        ng-model="connector.endPoint"
                        ng-change="setEndPoint()"
                        required>
                    	<option ng-repeat="endpoint in endpoints" value="{{endpoint.application}}">{{endpoint.application}}</option>
                    </select>
                </div>
            </field>
            <field class="form-group required">
                <label class="col-sm-3 control-label">consume queue</label>
                <div class="col-sm-9">
                    <input
                        type="text"
                        maxlength="30"
                        class="form-control"
                        name="name"
                        placeholder="50 characters max"
                        required
                        ng-model="connector.consumeQueue"
                        ng-disabled="true"
                    >
                </div>
            </field>
            <field class="form-group required">
                <label class="col-sm-3 control-label">Produce queue</label>
                <div class="col-sm-9">
                    <input
                        type="text"
                        maxlength="30"
                        class="form-control"
                        name="name"
                        placeholder="50 characters max"
                        required
                        ng-model="connector.produceQueue"
                        ng-disabled="true"
                    >
                </div>
            </field>
            <field class="form-group required" ng-class="{'has-error': !endpointCreate.url.$valid}">
                <label class="col-sm-3 control-label">Status</label>
                <div class="col-sm-9">
                    <input
                        type="text"
                        maxlength="20"
                        class="form-control"
                        name="status"
                        placeholder="20 characters max"
                        required
                        ng-model="connector.status"
                    >
                </div>
            </field -->
        </fieldset>
    </form>
</div>

<div class="modal-footer">
    <!--ol-notifs></ol-notifs>
    <ol-progress></ol-progress-->
    
	<button class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span>Cancel</button>
	<button class="btn" ng-click="postMessage()" ng-class="{'btn-success': environmentCreate.$valid}" ng-disabled=false><span class="glyphicon glyphicon-ok"></span>Post</button>
	<button class="btn" ng-click="log()" ng-disabled=false><span class="glyphicon glyphicon-ok"></span>log</button>
</div>